body {
  background-color: burlywood;
}
#result {
  font-family: "Space Mono", serif;
  background: black;
  color: white;
  font-size: 2em;
  border: 0;
  padding: 0.3em;
  text-align: right;
  width: 94%;
  height: 60px;
}
#res2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 0;
}
#box {
  max-width: 320px;
  background: #eee;
}
input[type="button"] {
  font-size: 1em;
  height: 65px;
  border: 1px solid black;
}
/* input[type="button"]:hover {
  background: #fff;
} */
.orange {
  background-color: orange;
}
.span-2 {
  grid-column: span 2;
}
#tab {
  border: 1px solid black;
}
